*{
	margin:0 auto;
	padding:0;
	list-style:none;
	font-family:"맑은 고딕";
	color:#C7D7F9
}
body{
    height: 100vh; 
    background: #161838;
    font-size: 20px;
    width: 100%;
}
header{
    width: 100%;
    padding-top: 30px;
}
header>div{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
header a {
    font-size: 16px;
    color:#FAE8D3;
    padding: 8px;
    border-radius: 8px;
    margin:4px;
}
header a:hover {
    color: white;
    background: rgba(255,255,255,0.2);
}
.header-menu a:hover {
    color: white;
    background: rgba(255,255,255,0.2);
}
.header-logo{
    position: fixed;
    top: 30px;
    left: 20px;
    z-index: 10;
}
.wrap {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /* border: 1px solid #ffcd04; */
}
.hero {
    /* border: 1px solid #9d00ff; */
    height: 1000px;
    position: relative;
}
.hero-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.MainTitle {
    width: 90%;
    height: 90%;
    margin-top: 50px;
}
/* 로그인 회원가입 버튼 */
.header-menu {
    top: 30px;
    right: 10px;
    position: fixed;
    z-index: 10;
}
.header-menu>div>a {
    font-size: 16px;
    color:#FAE8D3;
    padding: 8px;
    border-radius: 8px;
    margin:4px;
}
.announcement-section{
    width: 100%;
    height: 100%;
    background: #000;
}