*{
	margin:0;
	padding:0;
	list-style:none;
	font-family:"맑은 고딕";
	color:#C7D7F9;
    box-sizing: border-box;
}
body{
    height: 100vh; 
    background: #161838;
    font-size: 20px;
    width: 100%;
}
main{
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
    padding-top: 30px;
}
header>div{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
header a {
    font-size: 16px;
    color:#FAE8D3;
    padding: 8px;
    border-radius: 8px;
    margin:4px;
}
header a:hover {
    color: white;
    background: rgba(255,255,255,0.2);
}
.header-menu a:hover {
    color: white;
    background: rgba(255,255,255,0.2);
}
.header-logo{
    position: fixed;
    top: 30px;
    left: 20px;
    z-index: 10;
}
.wrap {
    width: 100%;
    height: 130%;
    margin: 0 auto;
    /* border: 1px solid #ffcd04; */
}
.hero {
    width: 100%;
    height: 1000px;
    position: relative;
}

/* 로그인 회원가입 버튼 */
.header-menu {
    top: 30px;
    right: 10px;
    position: fixed;
    z-index: 10;
}
.header-menu>div>a {
    font-size: 16px;
    color:#FAE8D3;
    padding: 8px;
    border-radius: 8px;
    margin:4px;
}
.main-content {
    width: 60%;
    height: 90%;
    margin: 0 auto;
    padding: 20px;
}
.announcement{
    width: 100%;
    height: 100%;
    background: #1E2256;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
}
.main-announcement{
    display: grid;
    /* 화면 너비에 맞춰 최소 400px인 박스들을 꽉 채워서 배치 */
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    align-content: flex-start;
    width: 100%;
    height: 100%;
    background: #ffffff81;
    border-radius: 20px;
    padding: 40px;
}
.main-announcement ul{
    width: 100%;
    height: 200px;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    cursor: pointer;
    margin: 0;
}
.main-announcement div{
    width: 400px;
    height: 200px;
    margin: 0;
}
.main-announcement div, 
.main-announcement ul {
    width: 100% !important; 
    height: 200px;
}
.main-announcement ul li{
    color: #333;
}
.main-announcement ul:hover{
    background: #f0f0f0;
}
.main-announcement ul li:nth-child(1){
    font-size: 24px;
    margin-bottom: 10px;
}