.header {
        padding: 15px 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-logo {
        color: #82BEDC;
        font-size: 40px;
        text-align: center;
        font-weight: 400;
    }

    .header-menu {
        display: flex;
        gap: 20px;
    }
    .menu-nav{
        display: flex;
        justify=content: space-between;
        gap: 560px;
    }
    .header-menu a {
        color: #82BEDC;
        font-size: 20px;
        text-decoration: none;
        padding: 8px 16px;
        border-radius: 5px;
        transition: background 0.3s;
    }