.login-container{
    width: 600px;
    height: 700px;
    background: #B1CCE199;
    border-radius: 30px;
    margin: 30px auto 0 auto;
}
.login-logo{
    position: relative;
}
.back {
  position: absolute;
  top: 5px;
  left: 220px;
  color: #aaa;
  filter: blur(2px);
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  user-select: none;        /* ✅ 드래그 방지 */
  pointer-events: none;    /* ✅ 클릭도 안 됨 (추천) */
}
.front {
    position: relative;
    color: #82BEDC;
    font-size: 40px;
    text-align: center;
    line-height: 40px;
    margin-top: 85px;
    margin-bottom: 50px;
}

.main-login{
    width: 400px;
    height: 400px;
    margin: 0 auto;
}
.form-group:first-child{
    margin-bottom: 40px;
}
.form-group input{
    width: 400px;
    height: 50px;
    display: flex;
    font-size: 16px;
    line-height: 60px;
    color: #6B89AB;
    background: #EDFEFB;
    border: none;
    font-family: Cafe24 Simplehae;
    padding-left: 20px;
    border-radius: 5px;
}
.savename{
    width: 110px;
    height: 60px;
    display: flex;
    color: #0A121D;
    font-size: 16px;
    font-family: Cafe24 Simplehae OTF;
    margin: 18px 0 22px 0;
}
.savename input{
    width: 22px;
    height: 20px;
    accent-color:#D9D9D9;
    display: block;
    margin-top: 2px;
    margin-right: 5px;
}
.login-container button{
    width: 400px;
    height: 70px;
    font-size: 20px;
    line-height: 60px;
    color: #EDFEFB;
    background: #82BEDC;
    border-radius: 5px;
    border: none;
    font-family: Cafe24 Simplehae;
}
.link-group{
      text-align: center;
}
.link-group a{
    font-size: 16px;
    line-height: 60px;
    color: #EDFEFB;
    font-family: Cafe24 Simplehae;
} 