    @font-face {
        font-family: 'Cafe24ClassicType';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Cafe24ClassicType-Regular.woff2') format('woff2');
        font-weight: regular;
        font-display: swap;
    }

    :root {
        /* color */
        --policeblue: #385479;
        --rackley: #6B89AB;
        --weldonblue: #8CA3B5;
        --sliverpink: #C4BBAB;
        --sky: #82BEDC;
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* font-family: '맑은 고딕'; */
        font-weight: 600;
    }
    a {
        color: inherit;
        text-decoration: none;
    }
    body {
        background-size: cover;
        background-position-y: 38%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--sky);
        font-weight: 200;
        /* padding-righit: 30px; */
    }
/* 
    .header-logo {
        text-shadow: 10px 10px 3px gray;
        text-align: center;
        font-size: 40px;
        font-weight: 400;
    } */

    .header-menu {
        display: flex;
        gap: 20px;

    }

    .header .nav {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        gap: 76px;
    }

    .header-menu a {
        padding: 8px 16px;
        border-radius: 5px;

    }
    .header a {
        transition: all 0.3s;
    }

    .nav a:hover {
        color: white;
    }

    
