<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/reset.css">
</head>
<body>
    <div class="header">
        <div class="header-logo">Forture<br>Board</div>
        <div class="menu-nav">
            <nav>
                <a href="/auth/horoscope">오늘의 별자리운세</a>
                <a href="">오늘의 학교밈</a>
            </nav>


            <nav>
                <a href="/auth/login">로그인</a>
                <a href="/auth/register">회원가입</a>
            </nav>
        </div>
    </div>

    <div class="main-text">
        <h1>2025년 12월 1일 </h1>
        <h2>오늘의 별자리운세</h2>
        <h3>별이 알려주는 오늘 하루의 기운을 확인해보세요.</h3>
    </div>

    <div class="content">
        <div class="table">
            <div class="td">
                <div class="tr"><input type="checkbox"></div>
                <div class="tr"><input type="checkbox"></div>
            </div>
            <div class="td">
                <div class="tr"><input type="text"><input type="text"></div>
            </div>
            <div class="td">
                <div class="tr"><input type="time"></div>
            </div>
        </div>
    </div>


</body>
</html>