<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>STARLOG</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/announcement.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <main>
    <section class="hero">

    
    <div class="wrap">
            <div class="hero-content">
                <header>
                    <div>
                        <a href="/posts">학교 커뮤니티</a>
                        <a href="/chatai">오늘의 운세</a>
                        <a href="/announcement">채용공고</a>
                    </div>
                </header>

            <div class="header-logo">
                <a href="/home">STARLOG</a>
            </div>
              <div class="header-menu">
                
                 <!-- 로그인 여부에 따라 다른 메뉴 표시 -->
                 <div th:if="${username}">
                   <a href="/mypage" th:text="${username} + '님'"></a>
                   <a href="/auth/logout">로그아웃</a>
                 </div>
                 <div th:unless="${username}">
                   <a href="/auth/login">로그인</a>
                   <a href="/auth/register">회원가입</a>
                </div>
            </div>
          </div>
            <div class="main-content">
                <div class="announcement">
                    <div class="main-announcement">
                        <div>
                            <ul>
                            <li>최윤서 pt</li>
                            <li>최윤서와 '피자 타임'을 즐기세요</li>
                        </ul>
                        </div>
                        <div>
                            <ul>
                            <li>박상진게임회사</li>
                            <li>월급 6억위안</li>
                        </ul>
                        </div>
                        <div>
                            <ul>
                            <li>신유빈의 발레리나 댄스 강사구함</li>
                            <li>근명고 신유빈임</li>
                        </ul>
                        </div>
                        <div>
                            <ul>
                            <li>건과 민우의 흑마법 재물구함</li>
                            <li>검은 기운을 받아 "흑"마법을 쓸수있음</li>
                        </ul>
                        </div>
                        <div>
                            <ul>
                            <li>박현서의 복싱교실 샌드백구함</li>
                            <li>전치 3주가 되어도 본인 책임</li>
                        </ul>
                        </div>
                        <div>
                            <ul>
                            <li>강나라의 편집자</li>
                            <li>채널명: 피크민 <br>

                            주요 콘텐츠: 모바일 배틀그라운드 및 종합게임 <br>

                            현재 상황: 구독자 69명 편생직장 희망하는 분들은 오세요</li>
                        </ul>
                        </div>
                        <div>
                            <ul>
                            <li>유태민</li>
                            <li>내밑으로 올 최백령구함@@@@</li>
                        </ul>
                        </div>
            
                    </div>
                </div>
        </section>
        </main>
</body>
</html>