<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>

<div class="header">
  <div class="header-logo"><a href="#"><img src="/static/images/STARLOG.png" alt="로고"></a></div>
  <div class="nav">
      <div><a href="">오늘의 별자리운세</a></div>
      <div><a href="">오늘의 학교밈</a></div>
  </div>
  <div class="header-menu">
    <!-- 로그인 여부에 따라 다른 메뉴 표시 -->
    <div th:if="${username}">
                <span style=" margin-right: 10px;"
                      th:text="${username} + '님'"></span>
      <a href="/posts">게시판</a>
      <a href="/mypage">마이페이지</a>
      <a href="/auth/logout">로그아웃</a>
    </div>
    <div th:unless="${username}">
      <a href="/auth/login">로그인</a>
      <a href="/auth/register">회원가입</a>
    </div>
  </div>
</div>


<div class="login-container">
    <div class="login-logo">
        <h2 class="back">Fortune <br> 
        Board</h2>
         <h2 class="front">Fortune <br> 
        Board</h2>
    </div>
    

    <!--에러 메세지 표시-->
    <div th:if="${error}" class="error-message">
        <span th:text="${error}"></span>
    </div>

    <!--성공 메세지 표시(회원가입 후)-->
    <div th:if="${message}" class="success-message">
        <span th:text="${message}"></span>
    </div>

    <!--로그인 폼-->
    <div class="main-login">
    <form action="/auth/login" method="post">
      <div class="form-group">
        <input type="text" id="username" name="username"
               placeholder="아이디를 입력하세요" required>
      </div>

      <div class="form-group">
        <input type="text" id="password" name="password"
               placeholder="비밀번호를 입력하세요" required>
      </div>
    <div class="savename">
        <input type="checkbox" id="savename" name="savename">
        아이디 저장
    </div>
      
      
      <button type="submit">로그인</button>
    </form>
    <div class="link-group">
      <a href="/auth/register">회원가입하기</a>
    </div>
    </div>
</div>
</body>
</html>